In [4]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Looking in indexes: https://anu9rng:****@rb-artifactory.bosch.com/artifactory/api/pypi/python-virtual/simple
Collecting pandas
  Downloading https://rb-artifactory.bosch.com/artifactory/api/pypi/python-virtual/packages/packages/86/41/585a168330ff063014880a80d744219dbf1dd7a1c706e75ab3425a987384/pandas-2.3.3-cp312-cp312-win_amd64.whl (11.0 MB)
     ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
      --------------------------------------- 0.3/11.0 MB ? eta -:--:--
     - -------------------------------------- 0.5/11.0 MB 3.4 MB/s eta 0:00:04
     -- ------------------------------------- 0.8/11.0 MB 1.4 MB/s eta 0:00:08
     ---- ----------------------------------- 1.3/11.0 MB 1.7 MB/s eta 0:00:06
     ----- ---------------------------------- 1.6/11.0 MB 1.6 MB/s eta 0:00:06
     ------- -------------------------------- 2.1/11.0 MB 1.8 MB/s eta 0:00:05
     -------- ------------------------------- 2.4/11.0 MB 1.8 MB/s eta 0:00:05
     --------- ------------------------------ 2.6/11.0 MB 1.7 MB/s eta 0:00:05
     ------------ --------------------------- 3.4/11.0 MB 1.9 MB/s eta 0:00:04
     ------------- -------------------------- 3.7/11.0 MB 1.9 MB/s eta 0:00:04
     --------------- ------------------------ 4.2/11.0 MB 1.9 MB/s eta 0:00:04
     ----------------- ---------------------- 4.7/11.0 MB 2.1 MB/s eta 0:00:04
     ------------------ --------------------- 5.0/11.0 MB 2.0 MB/s eta 0:00:03
     -------------------- ------------------- 5.5/11.0 MB 2.0 MB/s eta 0:00:03
     -------------------- ------------------- 5.8/11.0 MB 1.9 MB/s eta 0:00:03
     ---------------------- ----------------- 6.3/11.0 MB 1.9 MB/s eta 0:00:03
     ------------------------ --------------- 6.8/11.0 MB 2.0 MB/s eta 0:00:03
     ------------------------- -------------- 7.1/11.0 MB 2.0 MB/s eta 0:00:02
     ----------------------------- ---------- 8.1/11.0 MB 2.1 MB/s eta 0:00:02
     ------------------------------- -------- 8.7/11.0 MB 2.2 MB/s eta 0:00:02
     --------------------------------- ------ 9.2/11.0 MB 2.1 MB/s eta 0:00:01
     ----------------------------------- ---- 9.7/11.0 MB 2.2 MB/s eta 0:00:01
     ------------------------------------- -- 10.2/11.0 MB 2.2 MB/s eta 0:00:01
     ---------------------------------------- 11.0/11.0 MB 2.3 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.26.0 in c:\program files\anaconda3\lib\site-packages (from pandas) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\program files\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\program files\anaconda3\lib\site-packages (from pandas) (2024.1)
Collecting tzdata>=2022.7 (from pandas)
  Downloading https://rb-artifactory.bosch.com/artifactory/api/pypi/python-virtual/packages/packages/5c/23/c7abc0ca0a1526a0774eca151daeb8de62ec457e77262b66b359c3c7679e/tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Requirement already satisfied: six>=1.5 in c:\program files\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, pandas
Successfully installed pandas-2.3.3 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('TravelInsurancePrediction.csv')
df.to_csv("TravelInsurancePrediction.csv", index=False)

df.head()

,Unnamed: 0,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,0,31,Government Sector,Yes,400000,6,1,No,No,0
1,1,31,Private Sector/Self Employed,Yes,1250000,7,0,No,No,0
2,2,34,Private Sector/Self Employed,Yes,500000,4,1,No,No,1
3,3,28,Private Sector/Self Employed,Yes,700000,3,1,No,No,0
4,4,28,Private Sector/Self Employed,Yes,700000,8,1,Yes,No,0

In [3]:
print(df.index)

RangeIndex(start=0, stop=1987, step=1)

In [9]:
df.describe()

,Age,AnnualIncome,FamilyMembers,ChronicDiseases,TravelInsurance
count,1987.000000,1.987000e+03,1987.000000,1987.000000,1987.000000
mean,29.650226,9.327630e+05,4.752894,0.277806,0.357323
std,2.913308,3.768557e+05,1.609650,0.448030,0.479332
min,25.000000,3.000000e+05,2.000000,0.000000,0.000000
25%,28.000000,6.000000e+05,4.000000,0.000000,0.000000
50%,29.000000,9.000000e+05,5.000000,0.000000,0.000000
75%,32.000000,1.250000e+06,6.000000,1.000000,1.000000
max,35.000000,1.800000e+06,9.000000,1.000000,1.000000

In [8]:
print('Spalten: ', df.columns)

Spalten:  Index(['Age', 'Employment Type', 'GraduateOrNot', 'AnnualIncome',
       'FamilyMembers', 'ChronicDiseases', 'FrequentFlyer',
       'EverTravelledAbroad', 'TravelInsurance'],
      dtype='object')

In [3]:
kardinal_columns = ["Age", "FamilyMembers", "AnnualIncome"]
df[kardinal_columns].corr()

                    Age  FamilyMembers  AnnualIncome
Age            1.000000       0.027409     -0.020101
FamilyMembers  0.027409       1.000000     -0.015367
AnnualIncome  -0.020101      -0.015367      1.000000

In [6]:
pip install scipy

Defaulting to user installation because normal site-packages is not writeable
Looking in indexes: https://anu9rng:****@rb-artifactory.bosch.com/artifactory/api/pypi/python-virtual/simple
Collecting scipy
  Downloading https://rb-artifactory.bosch.com/artifactory/api/pypi/python-virtual/packages/packages/c2/7f/acbd28c97e990b421af7d6d6cd416358c9c293fc958b8529e0bd5d2a2a19/scipy-1.16.3-cp312-cp312-win_amd64.whl (38.6 MB)
     ---------------------------------------- 0.0/38.6 MB ? eta -:--:--
     - -------------------------------------- 1.0/38.6 MB 5.0 MB/s eta 0:00:08
     - -------------------------------------- 1.8/38.6 MB 4.8 MB/s eta 0:00:08
     -- ------------------------------------- 2.9/38.6 MB 4.8 MB/s eta 0:00:08
     ---- ----------------------------------- 3.9/38.6 MB 4.8 MB/s eta 0:00:08
     ----- ---------------------------------- 5.0/38.6 MB 4.8 MB/s eta 0:00:08
     ------ --------------------------------- 6.0/38.6 MB 4.8 MB/s eta 0:00:07
     ------- -------------------------------- 6.8/38.6 MB 4.7 MB/s eta 0:00:07
     ------- -------------------------------- 7.3/38.6 MB 4.7 MB/s eta 0:00:07
     -------- ------------------------------- 8.7/38.6 MB 4.7 MB/s eta 0:00:07
     --------- ------------------------------ 9.4/38.6 MB 4.6 MB/s eta 0:00:07
     ---------- ----------------------------- 10.0/38.6 MB 4.5 MB/s eta 0:00:07
     ----------- ---------------------------- 11.0/38.6 MB 4.5 MB/s eta 0:00:07
     ----------- ---------------------------- 11.3/38.6 MB 4.2 MB/s eta 0:00:07
     ------------ --------------------------- 11.8/38.6 MB 4.1 MB/s eta 0:00:07
     ------------- -------------------------- 12.6/38.6 MB 4.1 MB/s eta 0:00:07
     -------------- ------------------------- 13.9/38.6 MB 4.2 MB/s eta 0:00:06
     --------------- ------------------------ 14.9/38.6 MB 4.2 MB/s eta 0:00:06
     ---------------- ----------------------- 16.0/38.6 MB 4.3 MB/s eta 0:00:06
     ----------------- ---------------------- 16.5/38.6 MB 4.2 MB/s eta 0:00:06
     ------------------ --------------------- 17.6/38.6 MB 4.2 MB/s eta 0:00:05
     ------------------- -------------------- 18.6/38.6 MB 4.3 MB/s eta 0:00:05
     -------------------- ------------------- 19.7/38.6 MB 4.3 MB/s eta 0:00:05
     --------------------- ------------------ 20.4/38.6 MB 4.3 MB/s eta 0:00:05
     ---------------------- ----------------- 21.5/38.6 MB 4.3 MB/s eta 0:00:04
     ----------------------- ---------------- 22.8/38.6 MB 4.4 MB/s eta 0:00:04
     ------------------------ --------------- 23.6/38.6 MB 4.4 MB/s eta 0:00:04
     ------------------------- -------------- 24.4/38.6 MB 4.4 MB/s eta 0:00:04
     -------------------------- ------------- 25.4/38.6 MB 4.4 MB/s eta 0:00:03
     --------------------------- ------------ 26.5/38.6 MB 4.4 MB/s eta 0:00:03
     ---------------------------- ----------- 27.5/38.6 MB 4.4 MB/s eta 0:00:03
     ----------------------------- ---------- 28.6/38.6 MB 4.4 MB/s eta 0:00:03
     ------------------------------ --------- 29.1/38.6 MB 4.4 MB/s eta 0:00:03
     ------------------------------ --------- 29.4/38.6 MB 4.3 MB/s eta 0:00:03
     ------------------------------ --------- 29.6/38.6 MB 4.2 MB/s eta 0:00:03
     ------------------------------- -------- 29.9/38.6 MB 4.1 MB/s eta 0:00:03
     ------------------------------- -------- 30.1/38.6 MB 4.0 MB/s eta 0:00:03
     ------------------------------- -------- 30.4/38.6 MB 4.0 MB/s eta 0:00:03
     ------------------------------- -------- 30.7/38.6 MB 3.9 MB/s eta 0:00:03
     -------------------------------- ------- 30.9/38.6 MB 3.9 MB/s eta 0:00:02
     -------------------------------- ------- 31.7/38.6 MB 3.8 MB/s eta 0:00:02
     --------------------------------- ------ 32.2/38.6 MB 3.8 MB/s eta 0:00:02
     --------------------------------- ------ 32.8/38.6 MB 3.8 MB/s eta 0:00:02
     --------------------------------- ------ 32.8/38.6 MB 3.8 MB/s eta 0:00:02
     ---------------------------------- ----- 33.3/38.6 MB 3.6 MB/s eta 0:00:02
     ----------------------------------- ---- 33.8/38.6 MB 3.6 MB/s eta 0:00:02
     ----------------------------------- ---- 34.6/38.6 MB 3.6 MB/s eta 0:00:02
     ------------------------------------ --- 35.4/38.6 MB 3.6 MB/s eta 0:00:01
     ------------------------------------- -- 35.9/38.6 MB 3.6 MB/s eta 0:00:01
     -------------------------------------- - 36.7/38.6 MB 3.6 MB/s eta 0:00:01
     -------------------------------------- - 37.2/38.6 MB 3.6 MB/s eta 0:00:01
     ---------------------------------------  38.0/38.6 MB 3.6 MB/s eta 0:00:01
     ---------------------------------------  38.5/38.6 MB 3.6 MB/s eta 0:00:01
     ---------------------------------------- 38.6/38.6 MB 3.5 MB/s eta 0:00:00
Requirement already satisfied: numpy<2.6,>=1.25.2 in c:\program files\anaconda3\lib\site-packages (from scipy) (2.0.1)
Installing collected packages: scipy
Successfully installed scipy-1.16.3
Note: you may need to restart the kernel to use updated packages.

In [11]:
from scipy.stats.contingency import association


ct = pd.crosstab(df["GraduateOrNot"], df["TravelInsurance"])
print(ct)
# Berechnen und Ausgabe von Cramers V
print('Cramers V zwischen Graduate or Not und Travel Insurance: ', association(ct, method="cramer"))

ct = pd.crosstab(df['EverTravelledAbroad'], df['FrequentFlyer'])
print(ct)
print('Cramers V zwischen EverTravelledAbroad und FrequentFlyer: ', association(ct, method="cramer"))


ct = pd.crosstab(df['FrequentFlyer'], df['TravelInsurance'])
print(ct)
print('Cramers V zwischen Frequent Flyer und Travel Insurance: ', association(ct, method="cramer"))

TravelInsurance     0    1
GraduateOrNot
No                196   99
Yes              1081  611
Cramers V zwischen Graduate or Not und Travel Insurance:  0.018933518941987887
FrequentFlyer          No  Yes
EverTravelledAbroad
No                   1358  249
Yes                   212  168
Cramers V zwischen EverTravelledAbroad und FrequentFlyer:  0.27733395172971
TravelInsurance     0    1
FrequentFlyer
No               1099  471
Yes               178  239
Cramers V zwischen Frequent Flyer und Travel Insurance:  0.23210307798965676

In [5]:
print(df.age)

AttributeError: 'DataFrame' object has no attribute 'age'